USE [NCRMS]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetNumFromFileName]    Script Date: 6/8/2026 下午10:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[ufn_GetNumFromFileName]
(
    @FileName NVARCHAR(500),
    @ContinuousOnly BIT = 1
)
RETURNS VARCHAR(20)
AS
BEGIN
    DECLARE @Len INT = LEN(@FileName)
    DECLARE @i INT = @Len
    DECLARE @Char NCHAR(1)
    DECLARE @NumericPart NVARCHAR(20) = ''
    DECLARE @FoundDigit BIT = 0  -- 是否已找到第一個數字
    
    WHILE @i > 0
    BEGIN
        SET @Char = SUBSTRING(@FileName, @i, 1)
        
        IF @Char LIKE '[0-9]'
        BEGIN
            SET @FoundDigit = 1
            SET @NumericPart = @Char + @NumericPart
        END
        ELSE IF @FoundDigit = 1 AND @ContinuousOnly = 1
            BREAK  -- 已收集數字後遇到非數字，停止
        
        SET @i = @i - 1
    END
    
    RETURN @NumericPart
END
