USE [NCRMS]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_FinancialRiskFactor]    Script Date: 6/8/2026 下午10:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Allen
-- Create date: 20250908
-- Description:	傳入產品別英文代號，回傳ProductMaster.ProductCode
-- =============================================
ALTER FUNCTION [dbo].[ufn_FinancialRiskFactor](
	@DAY AS INT,@ProductCode as nvarchar(20),@CUR_BOUGHT AS NVARCHAR(3) = '',@CUR_SOLD AS NVARCHAR(3) = '')
RETURNS decimal(10,2)
--RETURNS NVARCHAR(20)
AS
BEGIN
	DECLARE @MAXID AS INT -- 有資料的時間最大ID
	DECLARE @MINID as int -- 有資料的時間最小ID
	DECLARE @MAPPING_DAYID AS INT 
	DECLARE @ProductID AS INT
	DECLARE @RISKFACTOR AS DECIMAL(10,2)
	DECLARE @MAXDAY AS INT 
	--取得目前系統最大上限DAY
	SELECT @MAXDAY = MAX(MaxDays)
	FROM FinancialRiskFactorPeriodDay
	--如果傳入的DAY大於系統最高上限，則轉換為最大上限DAY
	IF @DAY > @MAXDAY  
		SET @DAY = @MAXDAY

	-- 如果是匯率風險係數，買幣別與賣幣別可以對調組成ProductCode，若找不到就指定為OTHERS
	IF @CUR_BOUGHT <> '' OR @CUR_SOLD <> '' BEGIN
		SET @ProductCode = ISNULL((
			SELECT ProductCode
			FROM FinancialProductMaster 
			WHERE ProductCode IN(@CUR_BOUGHT+'/'+@CUR_SOLD,@CUR_SOLD+'/'+@CUR_BOUGHT)),'OTHERS')
	END
	--取得日期間對應的ID
	SELECT @MAPPING_DAYID = PK_ID
	FROM FinancialRiskFactorPeriodDay
	WHERE (CASE WHEN @DAY > 0 THEN @DAY ELSE 0 END) BETWEEN MinDays AND MaxDays
	--取得該項目有設定風險係數的最小時間範圍ID 與最大時間範圍ID
	SELECT @ProductID = FK_ProductID, @MINID = MIN(FK_PeriodID),@MAXID = MAX(FK_PeriodID) 
	FROM FinancialRiskFactorData a 
	inner join FinancialProductMaster b on a.FK_ProductID = b.PK_ID AND B.ProductCode = @ProductCode
	GROUP BY FK_ProductID

	--如果匹配不到@PRODUCT_ID IS NULL，代表PRODUCT_ID沒對應到，直接回傳NULL
	IF @ProductID IS NULL
		RETURN NULL

	SELECT @RISKFACTOR = RiskFactor
	FROM FinancialRiskFactorData 
	WHERE FK_PeriodID = @MAPPING_DAYID AND FK_ProductID = @ProductID

	IF @RISKFACTOR IS NULL BEGIN
		-- 小於有設定天數按照最小有設定的天數算，大於最大有設定的天數按照最大有設定的天數算
		IF @MAPPING_DAYID < @MINID BEGIN
			SET @MAPPING_DAYID = @MINID
		END
		ELSE IF @MAPPING_DAYID > @MAXID BEGIN
			SET @MAPPING_DAYID = @MAXID
		END
	END
	SELECT @RISKFACTOR = RiskFactor
	FROM FinancialRiskFactorData 
	WHERE FK_PeriodID = @MAPPING_DAYID AND FK_ProductID = @ProductID
	RETURN @RISKFACTOR
END
