USE [NCRMS]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetLastDateOfWeek]    Script Date: 6/8/2026 下午10:49:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Allen
-- Create date: 2026/03/26
-- Description:	填寫年月週，取得當週最後一天（週五）
-- =============================================
ALTER FUNCTION [dbo].[ufn_GetLastDateOfWeek] 
(
    @Year INT,
    @Month INT,
    @Week INT
)
RETURNS DATE
AS
BEGIN
    DECLARE @FirstDayOfMonth DATE = CAST(@Year AS VARCHAR(4)) + '-' + RIGHT('0' + CAST(@Month AS VARCHAR(2)), 2) + '-01'
    
    -- 0=週六, 1=週日...6=週五（以週六為每週第一天）
    DECLARE @FirstDayWeekday INT = (DATEDIFF(DAY, '19000106', @FirstDayOfMonth) % 7)
    
    DECLARE @FirstSaturday DATE
    DECLARE @Result DATE

    IF @FirstDayWeekday = 0
        SET @FirstSaturday = @FirstDayOfMonth  -- 月初剛好是週六
    ELSE
        SET @FirstSaturday = DATEADD(DAY, 7 - @FirstDayWeekday, @FirstDayOfMonth)  -- 下一個週六

    IF @Week = 1
    BEGIN
        -- 第1週結束在第一個週六前的週五
        IF @FirstDayWeekday = 0
            -- 月初是週六，第1週週五 = 月初 + 6天
            SET @Result = DATEADD(DAY, 6, @FirstDayOfMonth)
        ELSE
            -- 月初不是週六，第1週週五 = 第一個週六的前一天
            SET @Result = DATEADD(DAY, -1, @FirstSaturday)
    END
    ELSE
    BEGIN
        -- 第N週的週六 = 第一個週六 + (N-2) * 7
        DECLARE @WeekStartSaturday DATE = DATEADD(DAY, (@Week - 2) * 7, @FirstSaturday)
        -- 當週週五 = 當週週六 + 6天
        SET @Result = DATEADD(DAY, 6, @WeekStartSaturday)
    END

    -- 避免超過當月最後一天
    DECLARE @LastDayOfMonth DATE = EOMONTH(@FirstDayOfMonth)
    IF @Result > @LastDayOfMonth
        SET @Result = @LastDayOfMonth

    RETURN @Result
END