USE [NCRMS]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetWeekOfMonth]    Script Date: 25/8/2026 上午10:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[ufn_GetWeekOfMonth]
(
    @Date DATE
)
RETURNS INT
AS
BEGIN
    DECLARE @FirstDayOfMonth DATE =
        DATEFROMPARTS(YEAR(@Date), MONTH(@Date), 1);

    -- 0=週六, 1=週日, 2=週一, ... , 6=週五
    DECLARE @FirstDayWeekday INT =
        DATEDIFF(DAY, '19000106', @FirstDayOfMonth) % 7;

    -- 本月第一個星期五
    DECLARE @FirstFriday DATE =
        DATEADD(DAY, 6 - @FirstDayWeekday, @FirstDayOfMonth);

    RETURN 1 +
        (DATEDIFF(DAY, @FirstFriday, @Date) + 6) / 7;
END