USE [NCRMS]
GO
/****** Object:  StoredProcedure [dbo].[usp_HRIS_Transfer_BankUnit]    Script Date: 6/8/2026 下午10:35:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Allenchen
-- Create date: 2025/11/13
-- Description:	HRIS 洗資料 -- 處級
-- Modified:    2026/01/21 - 優化效能,使用 Table Variable
-- =============================================
ALTER PROCEDURE [dbo].[usp_HRIS_Transfer_BankUnit] 
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- 宣告變數
        DECLARE @Automatic NVARCHAR(10) = '自動';
        DECLARE @Manual NVARCHAR(10) = '手動';
        
        -- 處級沒有的新增,有就修改,HRIS沒有就停用
        MERGE INTO BankUnit AS t
        USING (
            SELECT DISTINCT 
                CASE WHEN a.GroupCode = 'FB009' then b.GroupCode else a.UnitBranchCode end UnitBranchCode,
				CASE WHEN a.GroupCode = 'FB009' then b.GroupName_TN else a.UnitBranchName end UnitBranchName,
                b.PK_Id AS BankGroupId
            FROM HRIS_Origin a
            INNER JOIN BankGroup b ON a.GroupCode = b.GroupCode 
        ) AS s 
        ON t.UnitCode = s.UnitBranchCode

        -- MATCHED: 系統單位被停用 OR 名稱有變化
        WHEN MATCHED AND (t.FK_BankGroup <> s.BankGroupId OR t.UnitName_TN <> s.UnitBranchName OR t.IsEmployed = 0)  -- 名稱有變化
        THEN
            UPDATE SET 
				FK_BankGroup = s.BankGroupId,
                UnitName_TN = s.UnitBranchName,
				IsEmployed = 1,
                Memo = @Automatic,
                Update_date = GETDATE(),
                Update_user = 'system'
        
        -- NOT MATCHED BY TARGET: 新增 (系統單位預設啟用)
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (
                FK_BankGroup, UnitCode, UnitName_TN, UnitName_EN, UnitName_JP, UnitName_CN, 
                IsActive,IsEmployed,IsMain,IsBusinessUnit, Memo, Create_date, Create_user
            )
            VALUES (
                s.BankGroupId,
                s.UnitBranchCode, 
                s.UnitBranchName, 
                s.UnitBranchName, 
                s.UnitBranchName, 
                s.UnitBranchName,
                0,0,0,0,
                @Automatic,
                GETDATE(),
                'system'
            )
        
        -- NOT MATCHED BY SOURCE: 停用 (排除手動維護的和系統單位)
        WHEN NOT MATCHED BY SOURCE and t.IsSave <> 1
        THEN
            UPDATE SET 
                IsEmployed = 0,
                Memo = @Automatic,
                Update_date = GETDATE(),
                Update_user = 'system'
        -- 輸出到歷史表
        OUTPUT 
            $action,
            ISNULL(deleted.PK_Id, inserted.PK_Id),
            ISNULL(deleted.FK_BankGroup, inserted.FK_BankGroup),
            ISNULL(deleted.UnitCode, inserted.UnitCode),
            ISNULL(deleted.UnitName_EN, inserted.UnitName_EN),
            ISNULL(deleted.UnitName_TN, inserted.UnitName_TN),
            ISNULL(deleted.UnitName_CN, inserted.UnitName_CN),
            ISNULL(deleted.UnitName_JP, inserted.UnitName_JP),
            ISNULL(deleted.IsMain, inserted.IsMain),
            ISNULL(deleted.IsActive, inserted.IsActive),
			ISNULL(deleted.IsSave, inserted.IsSave),
			ISNULL(deleted.IsEmployed, inserted.IsEmployed),
			ISNULL(deleted.IsBusinessUnit, inserted.IsBusinessUnit),
            ISNULL(deleted.Memo, inserted.Memo),
            ISNULL(deleted.Update_date, inserted.Update_date),
            ISNULL(deleted.Update_user, inserted.Update_user),
            ISNULL(deleted.Create_date, inserted.Create_date),
            ISNULL(deleted.Create_user, inserted.Create_user)
        INTO BankUnit_log(
            logType, PK_Id, FK_BankGroup, UnitCode, UnitName_EN, UnitName_TN, UnitName_CN, UnitName_JP,
            IsMain, IsActive,IsSave,IsEmployed,IsBusinessUnit, Memo, Update_date, Update_user, Create_date, Create_user
        );
        
        -- 🔑 回傳影響的記錄數
        DECLARE @AffectedRows INT = @@ROWCOUNT;
        PRINT '成功處理 ' + CAST(@AffectedRows AS NVARCHAR) + ' 筆記錄';
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorLine INT = ERROR_LINE();
        
        PRINT '發生錯誤於第 ' + CAST(@ErrorLine AS NVARCHAR) + ' 行: ' + @ErrorMsg;
        THROW;
    END CATCH
END
