USE [NCRMS]
GO
/****** Object:  StoredProcedure [dbo].[usp_ResolveGroupIdForCustomer]    Script Date: 6/8/2026 下午10:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 功能：客戶歸戶
-- 描述：用單個客戶歸戶，取找符合的GroupId或是返回新的GroupId
-- 單筆即時比對用的共用歸戶邏輯，供 C# 後端（CustomerService）呼叫，取代
-- GetOrCreateGroupId 內只比對 SwiftCode/LEI 完全相符的邏輯。
ALTER   PROCEDURE [dbo].[usp_ResolveGroupIdForCustomer]
    @PK_Id INT = NULL,                       --新增時為null，修改時才會帶入對應的Primary Key
    @CustomerName NVARCHAR(500) = NULL,      --客戶名稱
    @Unit NVARCHAR(50) = NULL,				 --客戶單位
    @SwiftCode NVARCHAR(20) = NULL,          --歸戶識別碼(SwiftCode)
    @LEI NVARCHAR(20) = NULL,			     --歸戶識別碼(LEI)
    @ISIN NVARCHAR(12) = NULL,               --歸戶識別嗎(ISIN)
    @CustomerMark NVARCHAR(50) = NULL,       --歸戶識別碼(客戶自行標記)
    @CreateIfNotFound BIT = 0				 --新增時是否回傳新的群組id
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ResolvedGroupId INT;
	--取得共用歸戶邏輯
    ;WITH Candidates AS (
        SELECT DISTINCT GroupId
        FROM dbo.ufn_MatchingCustomerGroupIds(@PK_Id, @CustomerName, @Unit, @SwiftCode, @LEI, @ISIN, @CustomerMark)
        WHERE GroupId IS NOT NULL
    )
    SELECT
        @ResolvedGroupId = MIN(GroupId)
    FROM Candidates;

    IF @ResolvedGroupId IS NULL AND @CreateIfNotFound = 1 --如果並未匹配到結果，並且需要回傳新的群組ID
    BEGIN
        EXEC dbo.usp_GetGroupId @GroupName = 'CustomerGroupId', @NewGroupId = @ResolvedGroupId OUTPUT; --呼叫後並且回傳
    END

    SELECT @ResolvedGroupId AS ResolvedGroupId;
END;
