USE [NCRMS]
GO
/****** Object:  StoredProcedure [dbo].[usp_HRIS_Transfer_BankBranch]    Script Date: 6/8/2026 下午10:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Allenchen
-- Create date: 2025/11/13
-- Description:	HRIS 洗資料 -- 分行
-- =============================================
ALTER PROCEDURE [dbo].[usp_HRIS_Transfer_BankBranch] 
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		declare @Automatic nvarchar(2) = '自動',
				@Manual nvarchar(2) = '手動'

		DECLARE @H077050000_Id INT = (SELECT PK_Id FROM BankUnit WHERE UnitCode = 'H077050000'); -- 海業處 id
		DECLARE @FB009 INT = (SELECT PK_Id FROM BankUnit WHERE UnitCode = 'FB009'); -- 分行營業單位

		-- 分行沒有的新增 ，有就修改 ，HRIS沒有就停用
		MERGE INTO BankBranch AS Target
		USING (Select DISTINCT UnitBranchCode,UnitBranchName,
			   CASE WHEN Left(UnitBranchCode,2) = 'B9' OR Left(UnitBranchCode,4) = 'B095' 
			   THEN @H077050000_Id 
			   ELSE @FB009 
			   END FK_BankUnit
			   FROM HRIS_Origin 
			   Where GroupCode = 'FB009'
		) AS Source
		ON Target.BankCode = Source.UnitBranchCode
		WHEN MATCHED AND (BankName_TN <> Source.UnitBranchName OR ((Left(UnitBranchCode,2) = 'B9' OR Left(UnitBranchCode,4) = 'B095') AND IsActive = 0) OR 
				(Source.UnitBranchName LIKE N'%辦事處%' AND IsActive = 1 AND Target.Memo <> @Manual AND Target.IsSave <> 1) OR 
				ISNULL(Target.FK_BankUnit,'') <> ISNULL(Source.FK_BankUnit,''))   
		THEN
			UPDATE SET FK_BankUnit = Source.FK_BankUnit,
						IsActive = CASE WHEN UnitBranchName LIKE N'%辦事處%' AND Target.Memo <> @Manual AND Target.IsSave <> 1
							      THEN 0
								  WHEN Left(UnitBranchCode,2) = 'B9' OR Left(UnitBranchCode,4) = 'B095' 
								  THEN 1
								  ELSE IsActive
								  END,
						IsEmployed = 1,
					BankName_TN = UnitBranchName, Memo = @Automatic,Update_date = getdate(),Update_user = 'system'
		WHEN NOT MATCHED BY TARGET 
		THEN
			INSERT (FK_BankUnit,BankCode,BankName_TN,BankName_EN,BankName_JP,BankName_CN,IsActive,IsSave,IsEmployed,Memo)
			VALUES (FK_BankUnit,Source.UnitBranchCode, Source.UnitBranchName, Source.UnitBranchName, Source.UnitBranchName, Source.UnitBranchName,
			CASE WHEN UnitBranchName LIKE N'%辦事處%'
			THEN 0
			WHEN Left(UnitBranchCode,2) = 'B9' OR Left(UnitBranchCode,4) = 'B095' 
			THEN 1
			ELSE 0
			END,0,1, @Automatic)
		WHEN NOT MATCHED BY SOURCE and Target.Memo <> @Manual and Target.IsSave <> 1 AND  Target.IsActive <> 0 
		THEN
			UPDATE SET IsActive = 0,IsEmployed = 0,Memo = @Automatic,Update_date = getdate(),Update_user = 'system'

		OUTPUT $action,isnull(deleted.PK_Id,inserted.PK_Id),isnull(deleted.FK_BankUnit,inserted.FK_BankUnit),
		isnull(deleted.BankCode,inserted.BankCode),isnull(deleted.BankName_TN,inserted.BankName_TN),
		isnull(deleted.BankName_EN,inserted.BankName_EN),isnull(deleted.BankName_CN,inserted.BankName_CN),
		isnull(deleted.BankName_JP,inserted.BankName_JP),isnull(deleted.Latitude,inserted.Latitude),
		isnull(deleted.Longitude,inserted.Longitude),isnull(deleted.IsActive,inserted.IsActive),
		isnull(deleted.IsSave,inserted.IsSave),isnull(deleted.IsEmployed,inserted.IsEmployed),
		isnull(deleted.Memo,inserted.Memo),isnull(deleted.Update_date,inserted.Update_date),
		isnull(deleted.Update_user,inserted.Update_user),isnull(deleted.Create_date,inserted.Create_date),
		isnull(deleted.Create_user,inserted.Create_user)
		INTO BankBranch_log(LogType,PK_Id,FK_BankUnit,BankCode,BankName_TN,BankName_EN,BankName_CN,BankName_JP,Latitude,Longitude,
		IsActive,IsSave,IsEmployed,Memo,Update_date,Update_user,Create_date,Create_user);

		  -- 🔑 回傳影響的記錄數
        DECLARE @AffectedRows INT = @@ROWCOUNT;
        PRINT '成功處理 ' + CAST(@AffectedRows AS NVARCHAR) + ' 筆記錄';

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorLine INT = ERROR_LINE();
        
        PRINT '發生錯誤於第 ' + CAST(@ErrorLine AS NVARCHAR) + ' 行: ' + @ErrorMsg;
		THROW;
	END CATCH
END