USE [NCRMS]
GO
/****** Object:  StoredProcedure [dbo].[usp_HRIS_Transfer_Users]    Script Date: 6/8/2026 下午10:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		allenchen
-- Create date: 2025/11/06
-- Description:	將HRIS_ORG 資料 轉成 Users Table資料
-- =============================================
ALTER PROCEDURE [dbo].[usp_HRIS_Transfer_Users] 
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY

		DROP TABLE IF EXISTS #TransferUsers
		SELECT UserId,UserName,'i'+SUBSTRING(UserId, PATINDEX('%[^0]%', UserId),5)+ '@FirstBank.com.tw' Email,
				isnull(g.GroupCode,a.GroupCode) GroupCode,isnull(d.UnitCode,b.UnitCode) UnitCode,c.BankCode,
				DepartmentCode,DepartmentName,Chief Chief,f.PK_Id TitleCode,e.TitleName,
				a.Leave_Start,a.Leave_End,a.Acting_Person
		INTO #TransferUsers
		FROM(
				Select * 
				From HRIS_Origin a
				WHERE NOT EXISTS (SELECT 1 FROM Global WHERE GroupId = 'HRIS_Filter_JobTitleCode' and Code = a.JobTitleCode) -- 排除不要轉入
			) a
		LEFT JOIN BankUnit b on a.UnitBranchCode = b.UnitCode
		LEFT JOIN BankBranch c on a.UnitBranchCode = c.BankCode
		LEFT JOIN BankUnit d on c.FK_BankUnit = d.PK_Id
		LEFT JOIN BankGroup g on d.FK_BankGroup = g.PK_Id
		INNER JOIN TitleMapping e on a.TitleCode = e.TitleCode
		INNER JOIN Title f on e.TitleId = f.PK_Id
		---------------------------------------------------------
		Declare @UserChange nvarchar(10) = '調/升/復職',
				@UserLeave nvarchar(10) = '離職',
				@UserAdd nvarchar(10)  = '新進員工',
				@Update nvarchar(10) = '更新資訊'
		DROP TABLE IF EXISTS #Users_his;
		SELECT * INTO #Users_his FROM Users_log WHERE 1=0

		Merge INTO Users as Target
		USING #TransferUsers as Source
		ON Target.UserId = Source.UserId
 		--  調/升/復職 、 更新資訊
		WHEN MATCHED 
		THEN
			UPDATE SET IsEmployed = 1,IsActive = 1,
				GroupCode = Source.GroupCode, 
				UnitCode = Source.UnitCode,
				BranchCode = Source.BankCode, 
				departmentCode = Source.departmentCode,
				departmentName = Source.departmentName,
				TitleCode = Source.TitleCode, 
				TitleName = Source.TitleName,
				UserName = Source.UserName,
				Chief = Source.Chief,
				Leave_Start = Source.Leave_Start,
				Leave_End = Source.Leave_End,
				Acting_Person = Source.Acting_Person,
				Update_date = Getdate(),
				Update_user = 'system',
				Memo = case when Target.GroupCode <> Source.GroupCode OR  
							ISNULL(Target.UnitCode,'') <> ISNULL(Source.UnitCode,'') OR 
							ISNULL(Target.BranchCode,'') <> ISNULL(Source.BankCode,'') OR 
							ISNULL(Target.departmentCode,'') <> ISNULL(Source.departmentCode,'') OR 
							ISNULL(Target.TitleName,'') <> ISNULL(Source.TitleName,'') OR 
							Target.IsEmployed = 0 
						then @UserChange
						else @Update
						end
		-- 新進員工
		WHEN NOT MATCHED BY TARGET 
		THEN 
			INSERT (UserId,UserName,Email,GroupCode,UnitCode,BranchCode,DepartmentCode,DepartmentName,Chief,TitleCode,TitleName,IsActive
				,IsEmployed,Leave_Start,Leave_End,Acting_Person,Create_date,Update_date,Update_user,Memo)
			Values (UserId,UserName,Email,GroupCode,UnitCode,BankCode,DepartmentCode,DepartmentName,Chief,TitleCode,TitleName,1
				,1,Leave_Start,Leave_End,Acting_Person,getdate(),getdate(),'system',@UserAdd)
		-- 離職
		WHEN NOT MATCHED BY SOURCE AND TARGET.IsEmployed <> 0 
		THEN
			UPDATE SET Target.IsEmployed = 0,
				Target.IsActive = 0,
				Update_date = Getdate(),
				Update_user = 'system', 
				Memo = @UserLeave

		Output $action,
			isnull(deleted.UserId,inserted.UserId),
			isnull(deleted.UserName,inserted.UserName),
			isnull(deleted.Email,inserted.Email),
			isnull(deleted.GroupCode,inserted.GroupCode),
			isnull(deleted.UnitCode,inserted.UnitCode),
			isnull(deleted.BranchCode,inserted.BranchCode),
			isnull(deleted.departmentCode,inserted.departmentCode),
			isnull(deleted.departmentName,inserted.departmentName),
			isnull(deleted.Chief,inserted.Chief),
			isnull(deleted.TitleCode,inserted.TitleCode),
			isnull(deleted.TitleName,inserted.TitleName),
			isnull(deleted.IsActive,inserted.IsActive),
			isnull(deleted.IsEmployed,inserted.IsEmployed),
			isnull(deleted.Leave_Start,inserted.Leave_Start),
			isnull(deleted.Leave_End,inserted.Leave_End),
			isnull(deleted.Acting_Person,inserted.Acting_Person),
			isnull(deleted.Create_date,inserted.Create_date),
			isnull(deleted.Update_date,inserted.Update_date),
			isnull(deleted.Update_User,inserted.Update_User),
			inserted.Memo,
			getdate()
		INTO #Users_his(logType,UserId,UserName,Email,GroupCode,UnitCode,BranchCode,departmentCode,departmentName,
						Chief,TitleCode,TitleName,IsActive,IsEmployed,Leave_Start,Leave_End,Acting_Person,Create_date,
						Update_date,Update_User,Memo,SysCreateDate);
		Insert Users_log
		SELECT *
		FROM #Users_his

		SELECT *
		FROM #Users_his		

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        PRINT '發生錯誤: ' + @ErrorMsg;
		THROW;
	END CATCH

END
