USE [NCRMS]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetGroupId]    Script Date: 6/8/2026 下午10:36:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 取代原本 usp_GetGroupId 呼叫端的誤用。
-- 改用OUTPUT參數，並將SELECT與UPDATE包在同一顯式交易內，搭配UPDLOCK/ROWLOCK/HOLDLOCK使鎖定延續到交易結束，避免併發呼叫取得重複GroupId。
ALTER   PROCEDURE [dbo].[usp_GetGroupId]
    @GroupName NVARCHAR(50),
    @NewGroupId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    SELECT @NewGroupId = GroupCount
    FROM GroupIdCounter WITH (UPDLOCK, ROWLOCK, HOLDLOCK)
    WHERE GroupName = @GroupName;

    IF @NewGroupId IS NULL
    BEGIN
        ROLLBACK TRANSACTION;
        THROW 51000, 'GroupIdCounter 查無對應 GroupName', 1;
        RETURN;
    END

    UPDATE GroupIdCounter
    SET GroupCount = GroupCount + 1
    WHERE GroupName = @GroupName;

    COMMIT TRANSACTION;
END;
